@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color:rgb(200, 194, 194);
    width: 15vw;
    padding: 25px;
    font-family: 'Fira Sans', sans-serif;
}
.sidebar nav{
    padding: 30px;
}
.sidebar nav li{
    list-style:none;
    font-size: 30px;
    padding: 33px 0;
}
.main{
    /*background-color:yellow;*/
    width: 90vw;
}
.container{
    display:flex;
}
.infcontainer{
    /*background-color:rgb(42, 165, 157);*/
    height:78vh;
    width:80vw;
    margin: auto;
    display:flex;
    justify-content: space-around;
}
/*.devpic img{
    
    height: 78vh;
}*/
.devinfo{
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hellow{
    font-size: 40px;
}
.name{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 25px;
}
.moreabout{
    font-size: 20px;
}
.buttons button{
    font-size: 25px;
}
.education{
    height:78vh;
    width:80vw;
    margin: auto;
    display:flex;
    justify-content: space-around;
}
.educationinfo{
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.edc{
    font-size: 25px;
    font-weight: bold;
}
.btech{
    font-size: 23px;
}
.abtbtech{
    font-size: 20px;
}
.second{
    font-size: 23px;
}
.abtsecond{
    font-size: 20px;
}



